* {
  margin: 0;
  padding: 0;
}

#animalcontainer {
  position: relative;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  column-gap: 3vw;
  row-gap: 1.5vh;
  place-content: center;
}

.animalImg {
  border: 3px solid #333;
  border-radius: 8px;
  width: 20vw;
  height: 35vh;
}

#panda {
  float: right;
  display: block;
  width: 17vw;
  max-width: 17vw;
  margin-left: 15px;
  border: 3px solid #333;
  border-radius: 8px;
}

.brief {
  position: relative;
  top: 5vh;
  left: 25vw;
  width: 50vw;
  height: auto;
  margin-bottom: 10vh;
  border-width: 10px;
  border-style: double;
  overflow: auto;
  padding: 10px;
}

.brief>p {
  font-size: 1.5rem;
  max-width: 35vw;
  text-align: justify;
}

nav {
  display: flex;
  gap: 20vw;
  place-content: center;
}

hr {
  margin-top: 1vh;
  margin-bottom: 0.3vh;
  border: none;
  height: 5px;
  background-color: black;
}

.link {
  position: relative;
  text-decoration: none;
  font-size: 1.4rem;
  color: rgb(111, 109, 109);
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
  text-shadow: 1px 1px rgb(24, 142, 174);
}

#randomlink:hover::after {
  content: "Click For A Random Fact";
  position: absolute;
  font-size: 1rem;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(70, 70, 70, 0.75);
  color: white;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#randomlink::after {
  content: "Click For A Random Fact";
  position: absolute;
  font-size: 1rem;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(70, 70, 70, 0.75);
  color: white;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transform: translateX(-50%) translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.App>img {
  width: 100vw;
}

.animalconta {
  position: relative;
  margin-top: 2vh;
  left: 10vw;
  font-size: 1.7rem;
  width: 80vw;
}

.Footer {
  place-self: center;
  text-align: center;
  top: 120vh;
  margin-top: 5vh;
  border-top: 3px dashed black;
}


.randomfact p {
  font-size: 1.9rem;
  border-width: 10px;
  border-style: double;
  text-align: center;
  width: 30vw;
  margin-top: 15vh;
}

.search-input {
  width: 20vw;
  padding: 10px;
  margin-right: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-section {
  justify-content: center;
  align-items: center;
}

.search-input::placeholder {
  color: #888;
}

.search-input:focus {
  border-color: #3b4045;
  box-shadow: 0 4px 8px rgba(61, 62, 62, 0.3);
}

.sort-button {
  height: 5vh;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sort-button:hover {
  outline: none;
  border-color: #3b4045;
  box-shadow: 0 4px 8px rgba(61, 62, 62, 0.3);
}

.randomfact button {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  width: 10vw;
  left: 10vw;
  top: 30vh;
}

.randomfact button:active {
  box-shadow: 0px 0px 0px 0px;
  width: 10vw;
  left: 10vw;
}

.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 19vh;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: absolute;
  display: flex;
}

section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.animal-link-link {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
}

.animal-link-link:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.articleanimal {
  border-width: 10px;
  border-style: double;
}

.animal_Img {
  height: 35vh;
  width: 40vw;
  margin: 10px;
  border: 3px solid #333;
  border-radius: 8px;
  float: right;
}

.moving-animal {
  height: 15vh;
  margin: 7px;
  margin-bottom: 5px;
  border: 3px solid #333;
  border-radius: 8px;
}

.moving-container {
  border-width: 2px;
  border-style: ridge;
  border-top: 4px double black;
  border-bottom: 4px double black;
  border-color: #000;
}

@media screen and (min-width: 700px) {
  .randomfact {
    position: relative;
    height: 35vh;
    width: 30vw;
    left: 35vw;
  }

}

@media screen and (max-width: 700px) {
  nav {
    display: flex;
    gap: 5vw;
  }

  hr {
    margin-top: 1vh;
    margin-bottom: 0.3vh;
    border: none;
    height: 5px;
    background-color: black;
  }

  .link {
    font-size: 1rem;
  }

  .randomfact {
    display: flex;
    flex-direction: column;
    height: 55vh;
  }

  .randomfact p {
    position: absolute;
    left: 25vw;
    font-size: 1.3rem;
    border-width: 10px;
    border-style: double;
    text-align: center;
    width: 50vw;
    margin-top: 5vh;
  }

  .randomfact button {
    position: relative;
    left: 32.5vw;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 2px 0px 0px, 4px 4px 0px 0px, 6px 6px 0px 0px, 8px 8px 0px 0px, 10px 10px 0px 0px;
    width: 35vw;
    top: 40vh;
  }

  .randomfact button:active {
    box-shadow: 0px 0px 0px 0px;
    width: 35vw;
    left: 32.5vw;
    top: 40vh;
  }

  .App img {
    height: 30vh;
  }

  .moving-animal {
    height: 20vh;
    width: 30vw;
  }


  .inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 34vh;
    justify-content: center;
    align-items: center;
  }
}
#no-animal{
  position: absolute;
  justify-self: center;
  font-size: 1.5rem;
}