* {
  margin: 0;
  padding: 0;
}

#tipcontainer {
  position: relative;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  column-gap: 3vw;
  row-gap: 1.5vh;
  place-content: center;
}

.tipImg {
  border: 3px solid #333;
  border-radius: 8px;
  width: 20vw;
  height: 35vh;
}

#testLink:hover::after {
  content: "Click To Find The Best Crops For You";
  position: absolute;
  font-size: 1rem;
  font-style: italic;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(70, 70, 70, 0.75);
  color: white;
  padding: 5px;
  padding-top: 3px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.brief {
  position: relative;
  top: 5vh;
  left: 25vw;
  width: 50vw;
  height: auto;
  margin-bottom: 10vh;
  border-width: 10px;
  border-style: double;
  overflow: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: max-content max-content;
}

.brief>p {
  font-size: 1.5rem;
  max-width: 35vw;
  text-align: justify;
}

nav {
  display: flex;
  gap: 20vw;
  place-content: center;
}

hr {
  margin-top: 1vh;
  margin-bottom: 0.3vh;
  height: 0.6svh;
  background-color: rgba(8, 9, 21, 0.322);
}

.link {
  position: relative;
  text-decoration: none;
  font-size: 1.4rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: italic;
}

.link:hover {
  text-decoration: underline;
  text-shadow: 1px 1px rgb(93, 90, 90);
}


.App>img {
  width: 100vw;
}

.tipconta {
  position: relative;
  margin-top: 2vh;
  left: 10vw;
  font-size: 1.7rem;
  width: 80vw;
}

.Footer {
  place-self: center;
  text-align: center;
  top: 120vh;
  margin-top: 5vh;
  border-top: 3px dashed black;
}



.search-input {
  width: 20vw;
  padding: 10px;
  margin-right: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-section {
  justify-content: center;
  align-items: center;
}

.search-input::placeholder {
  color: #888;
}

.search-input:focus {
  border-color: #3b4045;
  box-shadow: 0 4px 8px rgba(61, 62, 62, 0.3);
}

.sort-button {
  height: 5vh;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sort-button:hover {
  outline: none;
  border-color: #3b4045;
  box-shadow: 0 4px 8px rgba(61, 62, 62, 0.3);
}




.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 19vh;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: absolute;
  display: flex;
}

section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.tip-link-link {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
}

.tip-link-link:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.articletip {
  border-width: 10px;
  border-style: double;
}

.tip_Img {
  height: 35vh;
  width: 40vw;
  margin: 10px;
  border: 3px solid #333;
  border-radius: 8px;
  float: right;
}

.moving-tip {
  height: 15vh;
  margin: 7px;
  margin-bottom: 5px;
  border: 3px solid #333;
  border-radius: 8px;
}

.moving-container {
  border-width: 2px;
  border-style: ridge;
  border-top: 4px double black;
  border-bottom: 4px double black;
  border-color: #000;
}




@media screen and (max-width: 700px) {
  nav {
    display: flex;
    gap: 5vw;
  }

  hr {
    margin-top: 1vh;
    margin-bottom: 0.3vh;
    border: none;
    height: 5px;
    background-color: black;
  }

  .link {
    font-size: 1rem;
  }




  .App img {
    height: 30vh;
  }

  .moving-tip {
    height: 20vh;
    width: 30vw;
  }


  .inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 34vh;
    justify-content: center;
    align-items: center;
  }
}

#no-tip {
  position: absolute;
  justify-self: center;
  font-size: 1.5rem;
}

#banner {
  height: 65svh;
}